/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

/* Import TailwindCSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


.toast {
    border-radius: 20px !important;
    width: 400px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  /* styles.css */
.custom-error-toast {
    background-color: #f44336 !important; /* Red background */
    color: white !important;
    border-radius: 8px !important;
    width: 280px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  